@inherits LayoutComponentBase
@using DotnetNiger.UI.Components.Shared;

<div class="flex flex-col h-screen overflow-hidden">
     <TopBar/>
    <main class="flex-1 overflow-y-auto">
        <article class="mt-0 z-0">
            @Body
        </article>
        <footer>
            <Footer/>
        </footer>
    </main>
</div>

<ToastContainer />

